body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 40px;
}

.top {
    display: flex;
    align-items: center;
}

.top-head {
    font-size: 50px;
    font-weight: 600;
}

.half {
    width: 50%;
}

.half p {
    margin-bottom: 30px;
}

.half img {
    width: 60%;
}

.btns {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 15px;
    color: white;
    border-radius: 25px;
}

.middle {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.middle img {
    height: 400px;
    padding-left: 49px;
}